*{
	padding: 0;
	margin: 0;
}
body{
	background: url(488392.jpg) no-repeat;
	align-items: center;
	justify-content: center;
	background-size: cover;
	display: flex;
	font-family: sans-serif;
}
.container{
	position: relative;
	margin-top: 100px;
	margin-right:0px;
	width: 600px;
	height: auto;
	background: #dedede;
	border-radius: 5px;
}
.label{
	text-align:center;
	margin-top:10px;
	padding: 10px 80px;
	font-size: 35px;
	font-weight: bold;
	color: #130f40;
}
.login_form{
	padding: 30px 120px;
}
.login_form .font{
	font-size: 18px;
	color: #130f40;
	margin: 5px 0;
}
.login_form input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid silver;
}
.login_form .font2{
	margin-top: 30px;
}
.login_form button{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: rgba(34,39,251,10);
	border-radius: 3px;
	border: 1px solid #3949AB;
	transition: .5s;
}
.login_form button:hover{
	background: rgba(0,0,128,10);
}
.login_form #email_error,
.login_form #pass_error{
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #C62828;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}

nav h1{
			color: white;
			font-size: 50px;
			font-weight: bold;
			margin-top:-1300%;
			margin-left:-2000%;
			width:20px;
	}
nav h1:hover{
color:rgba(0,0,113,10);
}



