.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}
.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}
 
.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}
 
.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}


section{
width: 96%;
height: 100%;
margin: 0px auto;
position: relative;
}
nav{
			width: 96%;
			height: 70px;
			font-family:sans-serif;
			margin: 20px auto;
			display: flex;
			justify-content: space-around;
	}

nav h1{
			color: white;
			font-size: 50px;
			width: 40%;
			font-weight: bold;
  			margin:15px;
	}

nav ul{
			width: 60%;
			list-style: none;
	}

nav ul li{
			list-style: none;
			float: left;
			margin: 10px 20px;
			padding: 10px;
			font-size: 20px;
			font-weight: bold;
	}
nav ul li a, nav ul li a .fa{
			text-decoration: none;
			color: white;
	}
